@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --gradient: linear-gradient(to top left,#1f4037,#99f2c8);
    --background: 174 96.75% 98.38%;
    --foreground: 174 3.5% 0.76%;

    --muted: 174 3.5% 91.9%;
    --muted-foreground: 174 1.75% 41.9%;

    --popover: 174 62% 91.9%;
    --popover-foreground: 174 3.5% 0.95%;

    --card: 174 62% 91.9%;
    --card-foreground: 174 3.5% 0.95%;

    --border: 174 8.5% 89.76%;
    --input: 174 8.5% 89.76%;

    --primary: 174 35% 19%;
    --primary-foreground: 174 0.7% 91.9%;

    --secondary: 174 1.75% 95.95%;
    --secondary-foreground: 174 3.0999999999999996% 11.9%;

    --accent: 174 1.75% 95.95%;
    --accent-foreground: 174 3.0999999999999996% 11.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 174 35% 19%;

    --radius: 0.5rem;
  }

.dark {
    --gradient: linear-gradient(to top left,#1D976C,#93F9B9);

    --background: 169 44.2% 2.8%;
    --foreground: 169 6.800000000000001% 96.75%;

    --muted: 169 34% 10.5%;
    --muted-foreground: 169 6.800000000000001% 53.5%;

    --popover: 169 51.4% 4.55%;
    --popover-foreground: 169 6.800000000000001% 96.75%;

    --card: 169 51.4% 4.55%;
    --card-foreground: 169 6.800000000000001% 96.75%;

    --border: 169 34% 10.5%;
    --input: 169 34% 10.5%;

    --primary: 169 68% 35%;
    --primary-foreground: 169 6.800000000000001% 96.75%;

    --secondary: 169 34% 10.5%;
    --secondary-foreground: 169 6.800000000000001% 96.75%;

    --accent: 169 34% 10.5%;
    --accent-foreground: 169 6.800000000000001% 96.75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 169 6.800000000000001% 96.75%;

    --ring: 169 68% 35%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}